---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import notfound from "../../public/404.svg";
import ssg from "../../public/SSGroup.svg";
---

<Layout
    title="Page Not Found!"
    url="https://ssgroup.id/404"
    description="Sorry page not found!"
    keyword="404"
    image={notfound}
>
    <section class="w-full bg-white flex items-center justify-center">
        <div
            class="container h-full flex flex-col items-center gap-4 py-20 md:py-32 px-10"
        >
            <Image
                src={ssg}
                alt={"SSG"}
                loading={"eager"}
                class:list="w-8 md:w-10"
            />
            <Image
                src={notfound}
                alt="500"
                class:list="w-62 md:w-96 lg:w-50 xl:w-72 2xl:w-120 object-cover m-auto"
                loading="eager"
            />
            <h1
                class="font-poppins text-2xl xl:text-3xl 2xl:text-4xl capitalize"
            >
                Sorry page not found!
            </h1>
            <h2 class="font-poppins text-neutral-400 text-center">
                Sorry it looks like you're lost, we'll redirect you back to the
                homepage. Please press the button below
            </h2>
            <a href="https://ssgroup.id">
                <button
                    type="button"
                    class="bg-white text-center w-48 rounded-2xl h-14 relative text-black text-xl font-semibold border-4 border-white group cursor-pointer"
                >
                    <div
                        class="bg-primary rounded-xl h-12 w-1/4 grid place-items-center absolute left-0 top-0 group-hover:w-full z-10 duration-500"
                    >
                        <svg
                            width="25px"
                            height="25px"
                            viewBox="0 0 1024 1024"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill="#000000"
                                d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
                            ></path>
                            <path
                                fill="#000000"
                                d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
                            ></path>
                        </svg>
                    </div>
                    <p class="translate-x-4">Go Back</p>
                </button>
            </a>
        </div>
    </section>
</Layout>
